<!Doctype html>
<html lang="ja">
  <head>
    <meta charest="UTF-8">
    <title>Bookers</title>
    <link rel="stylesheet" href="/bookers/app/assets/stylesheets/application.css">
  </head>
  <body>
    <% if flash[:notice] %>
     <p id="notice">
       <%= flash[:notice] %>
     </p>
    <% end %> 
    <strong>Title:</strong>
      <%= @book.title %>
    </p>
    <p>
    <strong>Body:</strong>
      <%= @book.body %>
    </p>
      <%= link_to"Edit", edit_book_path(@book) %>
    <a href="/books">Back</a>
  </body>

</html>